body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/*Barra de navegación negra*/

.container {
    max-width: 1280px;
    padding: 15px 0;
    margin: 0 auto;
}

header {
    background: #f6f2f2;
}

.barra_nav {
    background: #313030;
}

.lista_nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.barra_nav a{
    text-decoration: none;
    color: white;
    padding: 40px 25px;
    display: inline-block;
    font-size: 16px;
    transition: .5s;
    font-weight: bold;
    letter-spacing: 1px;
}

.lista_nav a:hover {
    background: #ff3b3b;
}

/*Primerra sección*/

.tittle_cuadroarriba {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    line-height: 72px;
    letter-spacing: 3px;
}

.cuadro_main_1 {
    background: #f6f2f2;
}

.cuadrodearriba {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contenido_cuadro1 {
    width: 50%;
    padding-right: 50px;
}
.contenido_cuadro2 {
    width: 50%;
    padding-left: 50px;
}

iframe {
    width: 100%;
    min-height: 360px;
}

p.p_cuadro1 {
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: 120px;
    color: #4c4c4c;
}

.button {
    border-radius: 6px;
    border: 2px solid #ff3b3b;
    background: #ff3b3b;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    font-size: 18px;
}
.button:hover {
    background-color: transparent;
    color: #ff3b3b;
}

/*Segunda Sección*/

.container_main {
    margin: 70px 0 50px;
}

.contenedor_seccion2 {
    display: flex;
}

.boxinter img {
    width: 50px;
    margin-bottom: 20px;
}

.boxoff1, .boxoff2{
    display: flex;
    margin: 0;
}

.box1 {
    width: 130%;
}
.box2 {
    padding-left: 20px;
    width: 180%;
}

.box2 p {
    text-align: justify;
}

.boxinter {
    padding-left: 90px;
}

.button_1 {
    border-radius: 6px;
    border: 2px solid #ff3b3b;
    background: transparent;
    color: #ff3b3b;
    padding: 15px 60px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    font-size: 18px;
}
.button_1:hover {
    background-color: #ff3b3b;
    color: white;
}

h3 {
    margin: 0;
}
.tittle_final {
    font-size: 25px;
    color: #4c4c4c;
}

h1.tittle_cuadro2 {
    font-size: 42px;
    margin: 0;
    line-height: 55px;
    letter-spacing: 1px;
}

.p_cuadro2 {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #4c4c4c;
}

.p_cuadro2_box1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 65px;
}

/*Tercera Sección*/

.barra_nav2 a {
    text-decoration: none;
    color: #4c4c4c;
    padding: 40px 25px;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
    font-weight: bold;
}
.lista_nav2 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.barra_nav2 a:hover {
    color: #ff3b3b;
}
.barra_nav2 {
    margin-top: 50px;
}

.lista_nav2 a {
    font-size: 20px;
}

.rect_content img {
    width: 300px;
    height: 300px;
}

.ventanas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor_line {
    max-width: 1280px;
    margin: 0 auto 70px;
    padding: 0;
}

h1.tittle_cuadro3  {
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: #333333;
}

.texto_cuadro3 {
    margin: 10px auto 30pX;
    max-width: 600px;
    text-align: center;
    color: #4c4c4c;
}
.peque {
    max-width: 150px;
    border-color: #ff3b3b;
}

/*Cuarta Sección*/

.peque2 {
    max-width: 150px;
    border-color: #ff3b3b;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    margin-left: 0;
}

h1.tittle_cuadro4  {
    font-size: 42px;
    margin: 0;
    color: #333333;
}

p.texto_cuadro4 {
    margin: 30px 0 0;
    width: 90%;
    color: #4c4c4c;
}
.tittle_cuadro4_2 {
    font-size: 30px;
    margin-top: 0;
    color: #333333;
}
.encabezado_s4 {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.imagen_main img {
    width: 340px;
    height: 460px;
}

.barra_nav3 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 20px;
    font-style: italic;
}

.lista_nav3 {
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.rect_content_2 img{
    height: 250px;
    width: 230px;
}
.pcaudroimg {
    margin: 20px 0 0;
    max-width: 600px;
    color: #4c4c4c;
}

.rect_content_2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contenedor_off4 {
    display: flex;
    justify-content: space-between;
}

.seccion_img {
    width: 65%;
}

.contenedor4 {
    margin: 90px 0 100px;
}

.barra_nav3 {
    padding: 40px 0 30px;
}
div.link__ {
    font-size: 30px;
}

.link__ {
    display: none;
    width: 100%;
    background: #7a786e;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;

}

.link_img:hover .link__ {
    display: inline-block;
}
.link_img {
    position: relative;
    display: inline-block;
}
/*Quinta Sección*/

h2.tittle_cuadro5  {
    font-size: 42px;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
}
p.texto_cuadro5 {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    color: white;
}

.contenedor_sus {
    background: #f5f0dd;
    padding: 100px 0;
}

.button_sus {
    border-radius: 6px;
    border: 3px solid #ff3b3b;
    background: #ff3b3b;
    color: white;
    padding: 25px 60px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    font-size: 18px;
    margin: 0 20px;
}
.button_sus:hover {
    background-color: transparent;
    color: #ff3b3b;
}

.email_sus {
    display: flex;
    justify-content: center;
    margin: 70px auto;
}

.email_input {
    width: 520px;
    padding: 30px 30px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    letter-spacing: 1px;
}
/*Sexta Sección*/

.peque3 {
    max-width: 150px;
    border-color: #ff3b3b;
    margin-top: 50px;
    display: flex;
    margin-left: 0;
}

.text_min_sec3 {
    margin-bottom: 80px;
}
h2.tittle_cuadro6  {
    font-size: 42px;
    margin: 0;
    color: #333333;
}

p.texto_cuadro6 {
    margin: 30px 0;
    max-width: 600px;
    color: #4c4c4c;
}


.usercontent:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 480px;
    background-color: #2d2d2d;
    width: 100vw;
    left: 100%;
}

.cuadronegro_user {
    color: #b8b8b8;
    background: #2d2d2d;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 200px;
    width: 50%;
    margin-left: 100px;
}

.cuadronegro_user p a {
    text-decoration: none;
    color: #b8b8b8;
}

.usercontent {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sus {
    border-radius: 6px;
    border: 2px solid #ff3b3b;
    background: #ff3b3b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    font-size: 18px;
    width: 100%;
    padding: 25px;
    letter-spacing: 1px;
}
.sus:hover {
    background-color: white;
    color: #ff3b3b;
}

.cuadro_info {
    width: 50%;
}

.forma {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nombre, .correo{
    width: 100%;
}

.barra1, .barra2{
    border: none;
    background: #e5e5e5;
    border-radius: 10px;
    padding: 20px 40px;
    width: 100%;
}

.textoarea {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    margin: 40px 0;
    padding: 40px;
    border: none;
    background: #e5e5e5;
    border-radius: 10px;
    outline: none;
}

.contenedoro {
    padding: 100px 0;
    overflow-x: hidden;
}

/*Septima Sección*/
footer {
    background: #2d2d2d;
    color: #b8b8b8;
}

.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 20px;
}
.list_icon {
    display: flex;
}
.list_icon_div {
    margin-right: 100px;
}

.list_icon a {
    text-decoration: none;
}

.tex_footer {
    margin: 0;
    font-size: 18px;
}

.list_icon a img {
    margin: 0 0 0 20px;
}

.list_icon img {
    width: 50px;
    margin-bottom: 30px;
}
.tittle_info {
    margin: 20px 0;
}
.text_info {
    margin: 10px 0;
}
